<div class="container mt-5">
    <h1 class="bg-danger p-3 text-center text-white">Manage Order Form</h1>
    <div class="container mt-5">
        <div class="form-group mt-3">
          <form class="d-flex" role="search">
            <input type="text" class="form-control text-center" placeholder="Enter ID to Search" [(ngModel)]="searchOrdersId" name="searchInput">
            <button type="button" class="btn btn-outline-success" (click)="searchOrders()">Search</button>
          </form>
        </div><br>   
    <div class="form-group mt-3">
            <table class="table table-bordered table-hover">
                <tr>
                    <th> Count </th>
                    <th> Order ID </th>
                    <th> Customer Name</th>
                    <th>Date</th>
                    <th> Total Price</th>
                </tr>
                 <tr *ngFor="let orders of ordersList;index as i">
                    <td>{{i+1}} </td>
                    <td>{{orders.id}} </td>
                    <td>{{orders.itemId}} </td>
                    <td>{{orders.name}} </td>
                    <td>{{orders.date}} </td>
                    <td>{{orders.fprice}} </td>
                    <td><button class="btn btn-danger" (click)="deleteOrders(orders.id)"><i class="bi bi-trash3-fill"></i></button></td>
                    <td><button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="selectUpdateOrders(orders)"><i class="bi bi-pencil-square"></i></button></td>
                 </tr>
             </table>
        </div>
    </div>
       
    
    
    
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Update Orders</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
           
              <div class="mb-3">
                <label for="recipient-name" class="col-form-label">ID</label>
                <input type="text" class="form-control" id="recipient-name" [(ngModel)]="selectedOrders.id" disabled="true">
              </div>
              <div class="mb-3">
                <label for="recipient-name" class="col-form-label">Name</label>
                <input type="text" class="form-control" id="recipient-name" [(ngModel)]="selectedOrders.name" >
              </div>
              <div class="mb-3">
                <label for="recipient-name" class="col-form-label">Date</label>
                <input type="text" class="form-control" id="recipient-name" [(ngModel)]="selectedOrders.date">
              </div>
      
              <div class="mb-3">
                <label for="recipient-name" class="col-form-label">Total Price</label>
                <input type="text" class="form-control" id="recipient-name" [(ngModel)]="selectedOrders.totalPrice">
              </div>
              <div class="mb-3">
                <label for="recipient-name" class="col-form-label">Order ID</label>
                <input type="text" class="form-control" id="recipient-name" [(ngModel)]="selectedOrders.orderId" disabled="true">
              </div>
            
            
           
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="saveOrders()">Update</button>
          </div>
        </div>
      </div>
    </div>